body {
    background-color: coral;
}

.container {
    background-color: white;
    width: 1400px;
    height: 600px;
    box-shadow: 1px 1px 10px;
    position: relative;
    top: 40px;
    left: 4%;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.list {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    left: 14%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
    transition: 0.5s;
}

.list:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list1 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: 50px;
    left: 14%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
    transition: 0.5s;
}

.list1:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list1 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list2 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: -400px;
    left: 32%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
    transition: 0.5s;
}

.list2:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list2 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list3 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: -350px;
    left: 32%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
	transition: 0.5s;
}

.list3:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list3 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list4 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: -800px;
    left: 50%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
	transition: 0.5s;
}

.list4:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list4 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list5 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: -750px;
    left: 50%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
	transition: 0.5s;
}

.list5:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list5 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list6 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: -1200px;
    left: 68%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
	transition: 0.5s;
}

.list6:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list6 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.list7 {
    width: 220px;
    height: 180px;
    background-color: rgb(24, 178, 216);
    position: relative;
    top: -1150px;
    left: 68%;
    border-radius: 5px;
    box-shadow: 2px 1px 15px purple;
	transition: 0.5s;
}

.list7:hover {
    transition: 0.5s;
    box-shadow: 2px 1px 15px rgb(146, 3, 255);
}

.list7 ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
    body {
        background-color: coral;
    }

    .container {
        background-color: white;
        width: 1400px;
        height: 2800px;
        box-shadow: 1px 1px 10px;
        position: relative;
        top: 40px;
        left: 4%;
    }

    .container h1 {
        text-align: center;
        font-size: 60px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .list {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        left: 5%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list input {
        width: 100px;
        height: 40px;
    }

    .list1 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        left: 5%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list1:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list1 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list1 input {
        width: 100px;
        height: 40px;
    }

    .list2 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        top: 4%;
        left: 5%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list2:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list2 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list2 input {
        width: 100px;
        height: 40px;
    }

    .list3 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        top: 6%;
        left: 5%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list3:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list3 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list3 input {
        width: 100px;
        height: 40px;
    }

    .list4 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        top: -89%;
        left: 55%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list4:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list4 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list4 input {
        width: 100px;
        height: 40px;
    }

    .list5 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        top: -87%;
        left: 55%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list5:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list5 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list5 input {
        width: 100px;
        height: 40px;
    }

    .list6 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        top: -85%;
        left: 55%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list6:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list6 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list6 input {
        width: 100px;
        height: 40px;
    }

    .list7 {
        width: 40%;
        height: 20%;
        background-color: rgb(24, 178, 216);
        position: relative;
        top: -83%;
        left: 55%;
        border-radius: 5px;
        box-shadow: 2px 1px 15px purple;
        transition: 0.5s;
    }

    .list7:hover {
        transition: 0.5s;
        box-shadow: 2px 1px 15px rgb(146, 3, 255);
    }

    .list7 ul {
        position: relative;
        top: 10px;
        list-style-type: none;
        font-size: 64px;
        font-family: "Poppins", sans-serif;
    }

    .list7 input {
        width: 100px;
        height: 40px;
    }
}